#habilidade .flex-container {
    flex-direction: column;
}

#habilidade h2 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

#habilidade ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#habilidade ul li {
    width: 10%;
    min-width: 50px;
    margin: 20px 10px;
    padding: 30px;
    background-color: #000;
    border-radius: 15px;
    border: solid 1px #3299CC;
}

#habilidade ul li:hover {
    animation: downUp .8s alternate infinite linear;
}

@keyframes downUp {
    from {
        transform: translateY(0px);
    } 
    to {
        transform: translateY(-10px);
    }
}

#habilidade ul li img {
    width: 100%;
}
